body {
	overflow-x: hidden;
}

.grid-container {
	position: relative;
	top: 10vh;
	display: inline-grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

.grid-item {
	height: 75vh;
	width: 40vw;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px;
	text-align: left;
}

.grid-item:hover {
	border: 2px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

#albums {
	background-image: url(../assets/colour_lp.png);
	background-size: 750px;
}

#songs {
	background-image: url(../assets/colour_lp.png);
	background-size: 750px;
}

#concerts {
}

#about {
}

#contact {
}
