/**
 * --------------------------------------------------------------
 * # Imports
 * --------------------------------------------------------------
 *
 * @format
 */

@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

/*--------------------------------------------------------------
# Page config
--------------------------------------------------------------*/

:root {
	--colour-color: rgba(122, 064, 207, 0.8);
	--green-color: rgba(004, 252, 004, 0.8);
	--trans-background: rgba(0, 0, 0, 0.1);
}

body,
html {
	margin: 0;
	padding: 0;
	color: white;
	font-family: OCR A Std, Cascadia Code, monospace;
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/

#stars {
	position: fixed;
}

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/

::-webkit-scrollbar {
	width: 10px;
	background-color: black;
}

::-webkit-scrollbar-track {
	background-color: var(--trans-background);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--colour-color), var(--green-color), var(--colour-color));
	background-size: 200% 200%;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, var(--colour-color), var(--green-color), var(--colour-color));
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
	background: linear-gradient(-90deg, var(--colour-color), var(--green-color), var(--colour-color));
	background-size: 400% 400%;
	animation: gradient 15s linear infinite;
	box-shadow: 0px 1.5px rgba(255, 255, 255, 0.2);
	height: 5vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	z-index: 1000000000;
}

.header-link {
	width: inherit;
	color: black;
	text-align: center;
	padding: 1.5vh;
}

.header-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #7a40cf;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

#hero {
	display: flex;
	position: relative;
	top: 7vh;
	justify-content: center;
	text-align: center;
	padding: 15px;
	animation: fadeFromTop 1.5s ease-in;
}

.banner {
	position: absolute;
	width: 60vw;
	height: 40vh;
}

@keyframes fadeFromTop {
	from {
		top: -1000px;
	}
	to {
		top: 0;
	}
}

/*--------------------------------------------------------------
# Navigator
--------------------------------------------------------------*/

.navigator {
	position: relative;
	width: 90vw;
	height: 40vh;
	transition: 1s;
	padding-top: 15px;
}

.navigator:hover {
	transform: scaleY(1.5);
	transform: scaleX(1.5);
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.component {
	margin: 10px;
	position: relative;
	top: 45vh;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0.5rem;
	text-align: left;
	padding: 5px;
	overflow-x: auto;
}

/*--------------------------------------------------------------
# Grids
--------------------------------------------------------------*/

.grid-container {
	position: relative;
	display: flex;
	flex-direction: row;
}

.grid-item {
	margin: 5px;
}

/*--------------------------------------------------------------
# Concerts
--------------------------------------------------------------*/

#upcoming {
	position: absolute;
	width: 400px;
	left: 15px;
}

#in-between {
	position: absolute;
	width: 400px;
	left: 40%;
	background-image: url('../assets/drms.png');
	background-repeat: no-repeat;
	height: 400px;
	background-size: 400px 400px;
	bottom: 0;
}

#past {
	position: absolute;
	width: 400px;
	right: 15px;
}

.row {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: visible;
	height: 106vh;
}

.amp {
	background-image: url('../assets/colour_amp.png');
	background-repeat: no-repeat;
	height: 200px;
	background-size: 400px 200px;
}

.cab {
	justify-content: center;
	display: flex;
	background-image: url('../assets/colour_cab.png');
	background-repeat: no-repeat;
	background-size: 400px 400px;
	height: 400px;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

main {
	padding: 15px;
	position: relative;
	margin: 15px;
	animation: fadeFromBottom 1.5s ease-in;
}

@keyframes fadeFromBottom {
	from {
		bottom: -1000px;
	}
	to {
		bottom: 0;
	}
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

.video {
	margin: 5px;
	border-radius: 0.5rem;
	border: none;
}

.hidden {
	visibility: hidden;
}

link,
a {
	text-decoration: none;
}

h1,
a:hover {
	color: #7a40cf;
}

h2 {
	color: green;
}
